<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />

    <!-- Bootstrap CSS  -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
   
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="/fonts/bootstrap-icons.min.css">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- Custom site JS-->
    <script src="/js/site.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>
</html>
